<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.hiiyl.mmuhub" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_login"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".MMLSActivity"
            android:theme="@style/MMLSTheme"
            android:label="@string/title_activity_mmls" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnnouncementDetailActivity"
            android:label="@string/title_activity_announcement_detail"
            android:theme="@style/AnnouncementDetailTheme">
            android:parentActivityName="com.github.hiiyl.mmuhub.MMLSActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.hiiyl.mmuhub.MMLSActivity" />
        </activity>
        <activity
            android:name=".BulletinActivity"
            android:label="@string/title_activity_bulletin" >
        </activity>
        <activity
            android:name=".DownloadActivity"
            android:label="@string/title_activity_download"
            android:parentActivityName=".MMLSActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.hiiyl.mmuhub.MMLSActivity" />
        </activity>

        <provider
            android:name=".data.MMUProvider"
            android:authorities="com.github.hiiyl.mmuhub"
            android:enabled="true"
            android:exported="false"
            android:permission="com.myapp.LICENSE_TO_KILL"
            android:syncable="true" />

        <service
            android:name=".sync.MMUSyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <service android:name=".sync.MMUAuthenticatorService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
    </application>

</manifest>
